<!-- editar_materia.html -->
{% extends 'base/base.html' %}
{% block title %}Editar Materia{% endblock %}
{% block content %}
{% load static %}
    <div id="crear-materia"> 
        <form method="POST" class="form">
            <div class="edit-rectangulo1">
                {% csrf_token %}
                <p class = "text-center reg-title">
                    Editar Materia
                <br>
                </p>
                <p class="text-left form-items">
                    <label for="id_nombreDeMateria">Nombre de materia:</label>
                    <br>  
                    {{ form.nombre_materia }}
                </p>
                <p class="text-left form-items">
                    <label for="id_carrera">Carrera:</label>
                    <br>  
                    {{ form.carrera }}
                </p>
                <p class="text-left form-items">
                    <label for="id_profesor">Profesor:</label>
                    <br>  
                    {{ form.profesor }}
                </p>
                <p class="form-left-horario form-items">
                    <label for="id_Año">Año:</label>
                    {{ form.anio }}
                </p>
                <p class="form-left-horario form-items">
                    <label for="id_horario">Horario:</label>
                    {{ form.Horario}}
                </p><br>
            </div>
        <div class="cp-rectangulo2">
            <div class="logo-registracion only-lt">
                <img src="/static/imagenes/Logo_i210_fondo_trans.png" class="logo-reg only-lt">
            </div>
            <div class="botones-edituser">
                <button type="submit" class="btn btn-blue" >Guardar</button>
            </div>
        </div>
    </div>
{% endblock %}
