{% extends 'base/base.html' %}

{% block title %}Eliminar Materia{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Eliminar Materia</h4>
        </div>
        <div class="card-body">
            <h6>¿Estás seguro de que quieres eliminar la materia "<b>{{ materia.nombre_materia }}</b>"?</h6>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'lista_materias_admin' %}" class="btn btn-primary">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}

