<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{% extends 'base/base.html' %}
{% block title %}Eliminar usuario{% endblock %}
{% block content %}

{% load inscripcionfinales_extras %}
{% if request.user.is_staff or request.user.is_superuser or request.user.admin %}
  {% if request.path != "/delete_user/"|concatenate:request.user.id %}
    <form method="POST" class="" style="margin-bottom: 250px">
    {% csrf_token %}
    <!-- <if> -->
    <h3 style="margin-bottom: 15px">¿Esta seguro que desea eliminar este "Usuario"{{ object.email }}?</h3>
    <button class="btn btn-danger" type="submit">Sí, eliminar <a href="/user_list/"></a></button>
    <a class="btn btn-primary" href="/user_list/" style="margin-left: 10px">Cancelar</a>
  {% else %}
    <div class="text-center">
        <img src="/static/imagenes/error403.jpg" class="rounded"></img>
        <h3>No podés borrar tu propio usuario. Para volver, <a href="/user_list/">hace click acá</a></h3>
    </div>
    </form>
  {% endif %}
{% else %}
  <div class="text-center">
    <img src="/static/imagenes/error403.jpg" class="rounded"></img>
    <h3>No deberías estar acá. Para volver<a href="/" style="text-decoration: none">hace click acá</a></h3>
  </div>
  </form>
{% endif %}
{% endblock %}


