{% extends 'base/base.html' %}

{% block title %}Inscripcion Final{% endblock %}

{% block content %}
{% if request.user.is_staff or request.user.is_superuser or request.user.admin %}
<!DOCTYPE html>
<html>
<head>
    <title>Inscripción Final</title>
</head>
<body>
    <h1>Inscripción Final</h1>
    <form method="post" style="font-size: 1.5em;">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="btn btn-primary" type="submit">Inscribirse</button>
    </form>
    {% else %}

    <div class="text-center">
        <img src="/static/imagenes/error403.jpg" class="rounded"></img>
      <h3>No deberías estar acá. Para volver, <a href="/">hace click acá</a></h3>
    </div>
    
    {% endif %}
    {%endblock%}
</body>
</html>
